[submodule "ISISER_ANALYSIS"]
	path = ISISER_ANALYSIS
	url = https://github.com/pabsgon/ISISER_ANALYSIS.git
[submodule "ISISER_FURHAT"]
	path = ISISER_FURHAT
	url = https://github.com/pabsgon/ISISER_FURHAT.git
