			html, body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}
			body{
				display: flex;
				flex-direction: column;
				background: #fbfaf6;
				font-size: 0.75em;
			}
			p{
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}
			p.ptitle{
				background: #f9f8f6;
				margin-top: 0.5em;
				border-top: 1px solid #e3dbdb;
			}
			p.ptitle, .consentTextMainTitle{
				font-weight: 600;
				color: #1c384d;
			}
			form{
				display: contents;
			}
			img{
			    width: 100%;
				height: auto;
			}

			.width30{max-width:30px;}
			.width100{max-width:100px;}
			.width200{max-width:10em;}
			.width300{max-width:300px;}
			.width400{max-width:400px;}

			.avatar-large{max-width:4em;}
			.avatar-normal{max-width:80px;}
			.avatar-small{max-width:40px;}
			.avatar-extrasmall{
				max-width:20px;
				max-height: 20px;
				align-self: center;
				opacity:0.6;
				padding-right:3px;
			}
			
			.loadingQwrapper{
				position: absolute;
				top: 45%;
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.instruction{
				margin-top:16px;
			}
			.questionTitleWrapper{
				flex-grow: 1;
				align-items: center;
				align-content: center;
				display: flex;
				line-height: 1.5em;
			}
			.questionTitle{
				height: 1.2em;
				padding-bottom: 8px;
				margin: auto;
			}
			.questionTitle,.loadingQtitle{
				font-size: 4em;
				align-content: center;
				text-align: center;
				font-family: system-ui;
				color: #7bb3de;
				font-weight: 600;
			}
			.questionImage{
				max-width: 80%;
				margin: auto;
			}
			.questionButtonsWrapper{
				margin-top: 8px;
				display: flex;
				justify-content: space-around;
			}
			.questionWrapper{
				display: flex;
				flex-direction: column;
			}
			.confirmWrapper{
				display: flex;
				flex-direction: row;
				width: 80%;
				justify-content: center;
				margin-top: 100px;			
			}
			.statementWrapper{
				padding-bottom: 8px;
				margin: auto;
				font-size: 4em;
				align-content: center;
				text-align: center;
				font-family: system-ui;
				color: #7bb3de;
				font-weight: 600;
			}
			.button {
				position: relative;
				/* padding: 2em 1.3em; */
				border: 0;
				border-radius: 50%;
				background-color: #ededed;
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
				cursor: pointer;
				font-family: sans-serif;
				font-size: 2em;
				color: grey;
				width: 6em;
				height: 6em;
			}

			.button:active,
			.active {
				top: 2px;
				left: 1px;
				box-shadow: none;
				background: #90d490;
				color: black;
				font-weight: 600;
				border-color: #000000;
				box-shadow: 0px 0px 3px rgb(0 0 0);

			}
			.outerheader{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				text-align: right;
				font-size: 1em;
				font-family: system-ui;
				font-weight: 600;
				color: #0064af;
				font-style: italic;
				/* padding-top: 1em; */
				display: flex;
				flex-direction: column;
				justify-content: end;
				flex-grow: 1;
			}
			.innerheader{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			.headerLanguages{
				display: flex;
				flex-direction: row;
				justify-content: start;
				font-style: normal;
				font-size: 1em;
			}
			.but{
                border-bottom: 1px solid #777d81;
                color: #326d95;
                font-size: 2em;
                font-family: system-ui;
                margin: 2px;
                border-radius: 5px;
                min-width: 3em;
                text-align: center;
                border: 1px solid black;
                cursor: pointer;
                padding: 20px;
			}
			#languageBut_eng:hover {
				background: #1394f5;
			}
			#languageBut_spa:hover {
				background: #f5cb13;
			}
			#languageBut_eng > div{
				border-left: 5px solid #1394f5;
				color: black;
				height: 100%;
			}
			#languageBut_spa > div{
				border-left: 4px solid #f5cb13;
				color: black;
				height: 100%;
			}
			.wrapper1 {
				z-index:100;
				min-height: 90vh;
				position: relative;
				display: flex;
				flex-direction: column;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				flex-grow: 1;
				overflow: hidden;
			}

			.bottomBorder, .topBorder{
				width: 100%;
				height: 8px;
			}
			.topBorder {
				background: #202020;
			}
			.bottomBorder {
				background: #0064af;
			}
			.screen{
				position:relative;
				display: flex;
				width: 100%;
				height: 100%;
			}
			.leftBorder, .slide, .rightBorder, .slideWrapper{
				height: 100%;
			}
			.leftBorder, .rightBorder{
				width: 8px;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#262626+0,0064af+100 */
				background: #262626; /* Old browsers */
				background: -moz-linear-gradient(top,  #262626 0%, #0064af 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #262626 0%,#0064af 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #262626 0%,#0064af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#0064af',GradientType=0 ); /* IE6-9 */

			}
			.slideWrapper{
				position: relative;
				width: calc(100% - 16px);
				background: white;
				//overflow: auto;
			}
			.slide{
				position: relative;
				display: flex;
				flex-direction: column;
				width: 100%;
				background: white;
				//overflow: auto;
			}
			.headerWrapper{
				display: flex;
				justify-content: space-between;
				width: 100%;
				border-bottom: 1px solid #e6e2e2;
				text-transform: uppercase;
				background: black;
			}
			.header{
                padding-left: 8px;
                line-height: 1.5em;
                font-size: 1.5em;
                font-family: system-ui;
                color: #0064af;
				width: 120px;
			}
			.headerImage{
    			line-height: 1.5em;
                font-size: 1.5em;
                font-family: system-ui;
                color: #4e4c32;
			}
			.headerLogo{
				//background: grey;
			}
			.contentWrapper{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: 100%;
				//background: green;
				overflow: hidden;
			}
			.footerWrapper{
				width: 100%;
				font-family: system-ui;
				padding: 5px;
				text-transform: uppercase;
				font-size: 0.75em;
				//background: red;
			}
			.title{
				width: 90%;

				border-bottom: solid 3px #595959;
			}
			.thanksTitle{
				border-top: solid 3px #595959;
			}
			.title,.thanksTitle{
				width: 90%;
				font-family: fantasy;
				font-size: 7em;
				color: #0064af;
			}
			.subtitle{
				width: 90%;
				font-family: system-ui;
				font-size: 2em;
				color: #595959;
				padding-bottom: 0.3em;
				text-transform: uppercase;
				padding-left:100px
			}
			#lastQuestionsBox{
				display:flex;
			}
			.titleStep{
				    font-size: 0.5em;
					color: #c6c6a9;
					vertical-align: super;
			}
			#coverForFeedback {
				display:none;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #607d8b5c;
			}
			#submissionCover img{
				position: absolute;width: 15%;
				bottom: 6%;
				right: 0px;
			}

			#submissionCover{
				position: absolute;
				display: none;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0;
				opacity: 0.6;
				background: #ffffff;
			}

			.cover{
				position: absolute;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				/* background: red; */
				left: 0;
				cursor: pointer;
			}
			.outputWrapper{
				min-height: 60%;
			}
			.outputWrapper, .outputWrapper_preshow{
				width: 100%;
				//background: grey;
				display: flex;
				flex-direction: column;
				//justify-content: space-between;
				border-bottom: 1px solid #595959;
			}
			.outputWrapper_preshow{
				height:100%;
				justify-content: space-between;
			}
			.outputRow1{
				//background: green;
				//flex-grow: 1;
				display: flex;
				justify-content: space-between;
			}
			.outputRow1Left{
				position:relative;
				//background: yellow;
				width: 60%;
				text-align: right;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.outputRow1Title, .outputRow1Title_half{
				//background: beige;
				font-family: fantasy;
				font-size: 5em;
				text-align: left;
				padding-left: 15px;
				color: #0064af;
			}
			.outputRow1Title{
				border-bottom: 2px solid #595959;
			}

			.outputRow1Content{
				//background: purple;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				padding-right: 35px;
			}
			.outputRow1Index{
				//background: red;
				font-family: fantasy;
				font-size: 13em;
				color: #061150;
				padding-right: 20px;
			}
			.outputRow1Right{
				//background: brown;
				display:flex;
				//width: 40%;
				align-self: center;
			}
			.previousUtterance{
				display:flex;
				padding-left: 10px;
				font-size: 1em;
				font-family: system-ui;
				font-weight: 600;
				width: 100%;
				//text-transform: uppercase;
				font-style: italic;
			}
			.outputRow2{
				//background: orange;
				display:flex;
				padding: 2px 10px 16px;
				font-family: system-ui;
				font-style: italic;
				font-weight: 600;
				font-size: 3em;
				color: #030c3d;
			}
			.inputWrapper, .inputWrapper_preshow{
				width: 100%;
				//padding: 20px 0px;
				//background: bisque;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-top: 2px solid #595959;
			}
			.inputWrapper{
				//height:100%;
				border-top:initial;
				padding: initial;
				overflow: hidden;
				flex-grow:1;
			}
			.inputInstructions{
				padding-top: 6px;
				padding-left: 10px;
				font-size: 1em;
				font-family: system-ui;
				font-weight: 600;
				color: #0064af;
				width: 100%;
			}
			.inputBoxes{
				padding: 10px;
				//background: blue;
				display: flex;
				justify-content: space-between;
				align-content: space-evenly;
				flex-direction: row;
				height: 100%;
				flex-wrap: wrap;
				overflow:auto;
			}
			.inputButtons{
				padding: 10px;
				text-align: right;
				display: flex;
				justify-content: space-between;
			}
			.inputBoxes textarea{
				width: 100%;
				font-size: 2em;
				height: 90%;
				//background: blue;
				resize:none;
			}
			.inputTextOther{
				margin-left:0.5em
			}
			.inputButton{
				min-width: 8em;
				padding-right: 2em;
				padding-left: 2em;
			}
			.optionButton{
				margin: 0.1em 0.5em;
				min-width: 15em;
			}
			.optionOther{
				background: #ebe8d1;
				font-style: italic;
			}
			.inputButton,.optionButton{
				font-size: 1.5em;
			}
			.inputButton,.optionButton, .feedbackButton{
				border-radius:5px;
				font-weight: 600;
				background: #ebe8d1;
				border-width: 1px;
				border-color: #7480aa;
				max-height: 1.8em;
				height: 1.8em;
				font-family: system-ui;
				cursor: pointer;
			}
			.historyButton{
				align-self: start;
				font-size: 0.75em;
				line-height: 1em;
				height: 1.5em;
				width: initial;
				min-width: initial;
				min-height: 1.5em;
				padding-left: 1.8em;
				padding-right: 1em;
				background: #ebe8d1;
				border: 1px solid #ccc9ac;
				color: #505c85;
				font-family: system-ui;
				font-weight: 600;
				cursor: pointer;
			}

			.historyWrapper{
				//background: aliceblue;
				flex-direction: column;
				/* background: antiquewhite; */
				flex-shrink: 0;
				flex-grow: 1;
				text-align: left;
				display: flex;
				align-items: end;
				padding: 5px;
				justify-content: flex-end;
				width: min-content;
				align-items: flex-start;
			}

			.historyContentWrapper{
				position: absolute;
				bottom: 2.75em;
				left: 6px;
				opacity: 0.95;
				background: #fbffe5;
				border-radius: 10px 10px 10px 0px;
				border: 1px solid #e4e0e0;
				display: block;
				flex-grow: 0;
				flex-shrink: 1;
				padding: 5px;
				font-size: 1em;
				font-family: system-ui;
				font-weight: 600;
				color: #607d8b;
				//text-transform: uppercase;
				font-style: italic;
				line-height: 2em;
				max-height: 15em;
				overflow: auto;
			}
			.formWrapper{
			    display: flex;
				flex-direction: column;
			}
			.guidelines, .form{
				//width: 100%;
			    //height: 60%;
				//background: grey;
				display: flex;
				flex-direction: column;
				max-height: 640px;
				flex-grow: 1;
				align-self: center;
			}
			.guidelines{
				//padding-top: 2em;
				justify-content: center;
				overflow: auto;
			}
			.form{
				//padding-top: 1em;
			}
			.bigTemIndex{
				color: #0064af;
				font-family: monospace;
				font-size: 3em;
				padding-right: 20px;
			}

			.guidelineRow{
				padding:2px 10px 16px 1.5em;
				font-size:1.6em;
			}

			.guidelineRow, .formRow,.formRowThanks{
				//background: orange;
				display: flex;
				font-family: system-ui;
				font-weight: 600;
				color: #144469;
			}
			.formRowThanks{
				padding: 1.5em 1em 0em 0em;
				CURSOR: pointer;
			}
			.formRow{
				padding-bottom: 16px;
				padding-left:10vh;
			}
			.formRowTerms{
				flex-direction: column;
				flex-grow:1;
			}
			.formInstructions{
				padding-left: 5vw;
				padding-bottom: 5px
			}
			.formInstructions, .formRow{
				padding-right: 5vw;
			}
			.thanksInstructions{
				font-family: system-ui;
				font-size: 1.5em;
				font-weight: 600;
				width: 90%;
				color: #0064af;
				padding-bottom: 16px;
			}
			.clarification:before {
				content: ' \25B7';
			}
			.clarification {
				font-size: 0.7em;
				background: #fbfbfb;
				border: 1px solid #ded6d6;
				font-weight: normal;
				width: fit-content;
				padding: 0px 10px;
				border-radius: 4px;
				color: #0064af;
			}
			.lastClarification:after{
				content: ' \21BA';
				font-weight:600;
				font-size: 1.2em;
			}
			.fieldWithError{
				border: 1px dashed #b71c1c;
				padding: 2px;
				border-radius: 4px;
			}
			#formErrors{
				/* background: yellowgreen; */
				flex-grow: 1;
				padding-right: 1.5em;
				padding-left: 5px;
				line-height: 2em;
				text-align: right;
				align-self: center;
				max-height: initial;
				font-family: system-ui;
				font-weight: 600;
				color: #b71c1c;
				min-height: 2em;
			}
			.filler{
				flex-grow: 1;
			}
			.rightFiller{
				position: relative;
				min-width:35px;
			}
			.interactionAvatarWrapper{
				flex-shrink: 0;
			}
			.avatarWrapper {
				opacity: 0.65;
				border: 2px solid transparent;
				border-radius: 50%;
				padding: 4px;
				cursor: pointer;
				overflow: hidden;
			}
			.avatarWrapperSelected{
				opacity: 1;
				border: 2px solid #0064af;
				border-radius: 50%;
				padding: 4px;
				cursor: pointer;
				overflow: hidden;
			}
			.avatarWrapper:hover, .avatarWrapperSelected:hover {
				opacity: 1;
				border: dashed 2px #c2b324;
			}
			.formInstructions{
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				//flex-grow: 1;
				font-size: 1.5em;
				font-family: system-ui;
				font-weight: 600;
				color: #0064af;
			}

			.caption, .thanksCaption, .field, .fielddouble, .terms{
				font-size: 1.25em;
				font-family: system-ui;
				font-weight: initial;
				color: #595959;
			}
			.thanksCheckboxLabel{
				display: flex;
				min-width: 90%;
				padding-left: 1em;
				margin-top: auto;
				margin-bottom: auto;
				color: #144469;
				font-weight: 600;
				font-size: 1.25em;
				font-family: system-ui;
			}
			.caption{
				width: 22vw;
				flex-shrink:0;
				padding-right: 1em;
				text-align:right;
			}
			.thanksCaption{
				padding-right: 0px;
				flex-shrink: initial;
				width: 5vw;
				text-align: right;
				flex-grow: 0;
			}
			.field,.fielddouble{
				display:flex;
				//width:67%;
				padding-left: 1em;
				margin-top: auto;
				margin-bottom: auto;
				color: #0064af;
			}

			.field input, .field select,.fielddouble input, .fielddouble select{
				    font-size: 1em;
					font-family: system-ui;
					font-weight: initial;
					color: #0064af;
					width:60%;
					min-width: 350px;
			}
			.terms{
				flex-grow: 1;
				margin-top:1em;
				height: 45vh;
				/* background: yellowgreen; */
				display: flex;
				flex-direction: column;
				overflow: auto;
				border: 1px solid #c6c0c0;
			}
			.terms ul {
				margin: 0px;
			}
			.terms>p, .terms>div {
				padding: 5px;
			}
			.hidden-metadata{
				position: absolute;
				height: 1em;
				width: 1em;
				text-align: center;
				line-height: 1em;
				bottom: -8px;
				right: -22px;
				font-size: 0.75em;
				color: silver;
			}
			.history-studentText,.history-teacherText{
				display:flex;
			}
			.history-studentText{
				color:#0064af;
			}
			.history-teacherText,.previousUtterance{
				color:#4e4c32;
			}

			#feedbackBox{
				position: absolute;
				height: 15vh;
				display: flex;
				flex-direction: row;
				flex-grow: 1;
				background: #212d37;
				right: calc( 100% - 34px);
				width: 40vw;
				border-radius: 4%;
				//z-index: -10;
				top: 100px;
				color: white;
				font-family: system-ui;
				align-items: flex-end;
				padding: 0.3vw;

			}
			.feedbackPanel{
				flex-grow: 1;
				margin-right: 12px;
				display: flex;
				flex-direction: column;
				height: 100%;
				font-size: 1em;
			}
			.feedbackButtonWrapper{
				flex-direction: row;
				display: flex;
				justify-content: end;
			}
			.feedbackButton{
				font-size: 1em;
				margin-right: 0px;
				min-width: 4em;
			}
			.feedbackHandler{
				margin: auto;
				cursor: pointer;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.feedbackHandler:hover {
				background: #095893;
			}
			.feedbackLabel {
			    writing-mode: vertical-rl;
				transform: rotate(360deg);
				font-size: 1em;
				font-family: system-ui;
				font-weight: 600;
				color: #3a9be3;
				top: 100px;
				position: absolute;
				margin-top: 17vh;
			}
			.version {
				width: 90%;
				margin: 0 auto;
				font-size: 0.7em;
				text-align: right;
				color: silver;
				font-family: system-ui;
			}

////////////////////////////////////////////////////////

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .right {
    min-width:200px;
    max-width:400px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#EEEEEE;
    background-color:#444444;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltip .text-content {
    padding:10px 20px;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/////////////////////////////////////////////////////



			@media screen and (max-width: 1366px),
				screen and (max-height:768px){
				body {
					font-size:0.7em;
				}
				.outputRow1Title{
					border-bottom: 1px solid #595959;
				}
				.inputWrapper, .inputWrapper_preshow{
					border-top: 1px solid #595959;
				}

				.field input, .field select, .fielddouble input, .fielddouble select{
					min-width: 240px;
				}
				.width100{max-width:66px;}
				.width200{max-width:10em;}
				.width300{max-width:200px;}
				.width400{max-width:266px;}
				.feedbackBox {right: 0.5vw;}
			}

			@media screen and (max-width: 540px){
				body {
					font-size: 0.5em;
				}
				.guidelines {
					width: 80%;
				}
			}
			@media screen and (max-width: 600px){
				.formRow {
					padding-left: 8%;
				}
				.field input, .field select,.fielddouble input, .fielddouble select {
					min-width: 180px;
				}
				.outputRow1Title_half{
					font-size: 4em;
				}
			}

			@media screen and (max-width: 768px){
				.width200{max-width:6em;}
			}
			@media screen and (max-width: 1024px){
				.formRow, .formInstructions{
					padding-right: 4%;
					padding-left: 4%;
				}
				.fielddouble{
					flex-direction: column;
				}
				.inputTextOther{
					margin-left:0em;
					margin-top: 0.5em;
				}
				.feedbackBox {right: 0.5vw;}

			}